<plugin name='sample-grails' version='1.0-SNAPSHOT' grailsVersion='2.3 &gt; *'>
  <author>Your name</author>
  <title>Sample Grails Plugin</title>
  <description>An attempt to capture an issue dealing with enums from grails plugins into a regular groovy project.
</description>
  <documentation>http://grails.org/plugin/sample-grails</documentation>
  <type>SampleGrailsGrailsPlugin</type>
  <packaging>binary</packaging>
  <resources>
    <resource>com.nortia.sample.Other</resource>
  </resources>
</plugin>